.modal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.check-rolls {
  text-align: center;
  font-size: 2rem;
}
.check-rolls.one-badge {
  font-size: 1rem;
}
.text-red {
  color: red;
  font-weight: 700;
}
